<h1><%= @winery.name %></h1>
<p>Website: <%= @winery.website %></p>
<p>Phone Number: <%= @winery.phone %></p>
<p>Region: <%= @winery.region_name %></p>

<%= link_to "Edit", edit_winery_path(@winery) %>

<%= link_to "Delete", winery_path(@winery), method: "delete" %>