<div class="navbar-fixed">
        <nav class=" light-blue lighten-4">
          <div class="container">
            <div class="nav-wrapper">
              <a href="/" class="brand-logo">CalWineries</a>
              <a href="#" data-target="mobile-nav" class="sidenav-trigger">
                <i class="material-icons">menu</i>
              </a>
              <ul class="right hide-on-med-and-down">
                <% if user_signed_in? %>
                    <li><%= link_to "Logout", destroy_user_session_path, :class => "blue btn btn-primary", method: "DELETE" %></li>
                    <li><%= link_to "Settings", new_winery_path(current_user), :class => "blue btn btn-primary" %></li>
                    <li><%= link_to "Add a Winery", new_winery_path(current_user), :class => "blue btn btn-primary" %></li>
                    <li><%= link_to "Discover Wineries", wineries_path, :class => "blue btn btn-primary" %></li>
                <% else %>
                    <li><%= link_to "Signup", new_user_registration_path %></li>
                    <li><%= link_to "Login", new_user_session_path %></li>
                <% end %>
              </ul>
            </div>
          </div>
        </nav>
      </div>
      <ul class="sidenav" id="mobile-nav">
        <% if user_signed_in? %>
            <li><%= link_to "Logout", destroy_user_session_path, :class => "btn btn-primary", method: "DELETE" %></li>
            <li><%= link_to "Settings", new_winery_path(current_user), :class => "btn btn-primary" %></li>
            <li><%= link_to "Add a Winery", new_winery_path, :class => "btn btn-primary" %></li>
            <li><%= link_to "Discover Wineries", wineries_path, :class => "btn btn-primary" %></li>
        <% else %>
            <li><%= link_to "Signup", new_user_registration_path %></li>
            <li><%= link_to "Login", new_user_session_path %></li>
        <% end %>
      </ul>


      <section class="slider">
        <ul class="slides">
      <li>
        <img src="https://newyorkwineevents.com/wp-content/uploads/2015/02/best-new-york-state-wineries.jpg">
        <div class="caption right-align">
          <%# <h1>Wineries</h1> %>
          <h5 class="light grey-text text-lighten-3 hide-on-small-only"></h5>
        </div>
      </li>
      <li>
        <img src="http://kazzit.com/custom/domain_1/image_files/Custom_State_Page_Image/PRO_STATE_IMAGES/California_Wineries_RESIZED.jpg"> <!-- random image -->
        <div class="caption right-align">
          <%# <h1>Wines For All Budgets</h1> %>
          <h5 class="light grey-text text-lighten-3 hide-on-small-only"></h5>
        </div>
      </li>
      <li>
        <img src="https://mshanken.imgix.net/wso/Articles/2019/IQ_HowToStore_1600.jpg">
        <div class="caption right-align">
          <%# <h1>Top Wineries</h1> %>
          <h5 class="light grey-text text-lighten-3 hide-on-small-only"></h5>
        </div>
      </li>
    </ul>
      </section>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

      <script>
        // Sidenav
        const sideNav = document.querySelector('.sidenav');
        M.Sidenav.init(sideNav, {});

        // Slider
        const slider = document.querySelector('.slider');
        M.Slider.init(slider, {
          indicators: false,
          height: 500,
          transition: 500,
          interval: 6000
        });

      </script>
